extend layout

block links
  link(rel='stylesheet', href='/stylesheets/contact.css')

block content
  .container
    .section
      a.header(href='mailto:appdeveloperclub@gmail.com')  appdeveloperclub@gmail.com
