doctype
html
  head
    title #{title} - ADC
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/slick/slick.css')
    link(rel='stylesheet', href='/slick/slick-theme.css')
    block links
  body
    header
      nav(id='globalheader', role='navigation')
        ul.nav-list
          li: a(href="/")= "AppDeveloperClub"
          li: a(href="/")= "Home"
          li: a(href="/team")= "Team"
          li: a(href="/contact")= "Contact"

    block content

    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    block scripts
