/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  position: relative;
  color: #fff;
  background-image: url("../images/background.png");
  font-style: normal;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
#globalheader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 60px #4099ff;
  box-shadow: 0px 0px 60px #4099ff;
  font-size: 16px;
}
#globalheader ul {
  display: block;
  width: 100%;
  height: 46px;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#globalheader ul li {
  display: inline-block;
  padding: 0 30px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#globalheader ul li a {
  text-decoration: none;
  color: #fff;
}
#globalheader ul li a:hover {
  color: #27569a;
}
.container {
  width: 100%;
}
.section {
  display: block;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 60px #4099ff;
  box-shadow: 0px 0px 60px #4099ff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.section .header {
  padding: 15px;
}
.section .content {
  width: 780px;
  margin-left: 100px;
  margin-right: 100px;
}
.section .content p {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.8;
}
.prompt {
  margin: 30px;
}
.prompt input {
  margin: 5px;
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.prompt textarea {
  margin: 10px;
  display: block;
  width: 300px;
  height: 100px;
  resize: vertical;
  margin-left: auto;
  margin-right: auto;
}
.button {
  color: #4099ff;
  padding: 20px;
}
.button:hover {
  color: #27569a;
  cursor: pointer;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
  color: #4099ff;
}
a:hover {
  color: #27569a;
}
h1 {
  padding: 20px;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
