/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
// @import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #55ACEE
background-color = black

centerVertical()
  position relative
  top 50%
  -webkit-transform translateY(-50%)
  -ms-transform translateY(-50%)
  transform translateY(-50%)

preserve3d()
  -webkit-transform-style preserve-3d
  -moz-transform-style preserve-3d
  transform-style preserve-3d

body
  position relative
  color white
  // background-color background-color
  // background url("../images/background.jpg") no-repeat center center fixed
  background-image url("../images/background.png")
  font-style normal
  font-family 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'

#globalheader
  position absolute
  top 0
  left 0
  width 100%
  z-index 9999
  background rgba(0, 0, 0, 0.5)
  box-shadow 0px 0px 60px #4099FF
  font-size 16px

  ul
    display block
    width 100%
    height 46px
    text-align center
    preserve3d()

    li
      display inline-block
      padding 0 30px
      centerVertical()

      a
        text-decoration none
        color white

        &:hover
          color rgb(39, 86, 154)

.container
  width 100%

.section
  display block
  width 980px
  margin-left auto
  margin-right auto
  background rgba(0, 0, 0, 0.6)
  box-shadow 0px 0px 60px #4099FF
  border-radius 10px
  margin-bottom 50px

  .header
    padding 15px

  .content
    width 780px
    margin-left 100px
    margin-right 100px

    p
      padding-top 10px
      padding-bottom 10px
      line-height 1.8

.prompt
  margin 30px
  input
    margin 5px
    display block
    width 300px
    margin-left auto
    margin-right auto
  textarea
    margin 10px
    display block
    width 300px
    height 100px
    resize vertical
    margin-left auto
    margin-right auto

.button
  color #4099FF
  padding 20px

  &:hover
    color rgb(39, 86, 154)
    cursor pointer

.hidden
  display none

a
  text-decoration none
  color #4099FF

  &:hover
    color rgb(39, 86, 154)

h1
  padding 20px

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
